body {
  margin: 0 auto;
}

/*header*/
.covid {
  border: 1px solid transparent;
  background-color: mediumturquoise;
  color: white;
  padding: 10px;
  text-align: center;
  font-style: oblique;
}

.header {
  border: 1px solid transparent;
  background-color: khaki;
  padding-bottom: 20px;
  font-style: oblique;
}

.logo {
  float: left;
  width: 10%;
  height: 10%;
  padding-left: 15%;
}

nav {
  overflow: hidden;
}

ul {
  margin: center;
  padding: 0px;
  list-style: none;
  padding-right: 12%;
}

li {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}

nav a {
  color: black;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  color: white;
  background-color: maroon;
  border: 10px solid transparent;
  border-radius: 10px 10px 10px 10px;
}


/*footer*/
.footer {
  font-style: oblique;
  width: 100%;
  border: 1px solid transparent;
  background-color: khaki;
  content: "";
  display: table;
  clear: both;
}

.column1 {
  padding-top: 2%;
  margin-left: 90px;
}

.column {
  float: left;
  display: inline-block;
  margin-left: 90px;
  margin-right: 60px;
  margin-bottom: 2%;
  padding: 2px;
}

.icon {
  width: 25px;
  height: 25px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 2px;
}

.iconname {
  text-decoration: none;
  font-size: 120%;
  color: black;
  padding-top: 2px;
}
